body {
  background-color:   window;
  font-family:      sans-serif;
  font-size:      11px;
  color:    windowtext;
}

.frame {  
  background-color: threedface;
  margin-bottom:      10px;
  position:       relative;

}

li {
  list-style-type:    none;
  overflow:       hidden;
}

li ul {
  margin:       0px;
  padding:      0px;
  height:       20px;
  white-space:	nowrap;
}

a {
  display:      block;
  padding-top:    5px;
  padding-left:   24px; 
  background-position:  4px 2px;
  background-repeat:  no-repeat;
  
  text-decoration:  none;
  color:    buttontext;

}

a:hover {
  text-decoration:  underline;
}

a.title {
  font-weight:    bold;
  border-bottom:  solid 1px threeddarkshadow;
  cursor:   pointer;
  height:   15px;
  background-repeat:  none;
}

a.infotitle {
  font-weight:      bold;
  padding-left:     5px;
  cursor:           pointer;
}

.preview {
  padding:      5px;
  text-align:     center;
}

ul.info {
  padding-left:       5px;
}